<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>KidPoints</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'mostrar'}}
        Mostrar
      {{/link-to}}
      {{#link-to 'asignar'}}
        Asignación
      {{/link-to}}
      {{#link-to 'premios'}}
        Premios
      {{/link-to}}
      {{#link-to 'registrar'}}
        Registro
      {{/link-to}}
      {{#link-to 'config'}}
        Configuración
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
